@import './components/Main.scss';
@import './components/Search.scss';
@import './components/Header.scss';
@import './components/Footer.scss';
@import './components/ListaPokemon.scss';
@import './components/Card.scss';
@import './components/Home.scss';
@import './components/NavBar.scss';
@import './components/Details.scss';

@import './views/App.scss'