@import './variables.scss';

@mixin bars-base {
    background-color: $background-bars-color;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 6vw;
}

@mixin pokemon-details {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2vw 2vw;
    padding: 3%;
    margin: 2%;

    & > .general-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 4vw 4vw;
        margin-bottom: 5vw;
        width: 100%;

        & > p {
            font-size: 5vw;
        }

        & > .pokemon-types {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 70%;

            & > p {
                color: white;
                font-size: 5vw;
                padding: 4%;
                border-radius: 2vw 2vw;
                box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.58);
            }
        }

        & > h2 {
            font-size: 8vw;
        }

        & > img {
            width: 60%;
            aspect-ratio: 4/3;
            object-fit: contain;
            border-radius: 4vw 4vw;
            background-color: white;
        }
    }

    & > .specific-details {
        background-color: white;
        width: 100%;
        border-radius: 4vw 4vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > h2 {
            font-size: 7vw;
        }

        & > .first-details {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 2%;


            & > .info-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-bottom: 4vw;

                & > img {
                    width: 27%;
                    aspect-ratio: 4/3;
                    object-fit: contain;
                }

                & > p {
                    font-size: 4.5vw;
                    font-weight: 600;
                }
            }

        }

        & > .specific-info {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 5vw;
            border-radius: 2vw 2vw;
            width: 90%;

            & > .data {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                & > h2 {
                    font-size: 6vw;
                    margin-right: 1vw;
                }

                & > p {
                    font-weight: 600;
                    font-size: 5vw;
                }
            }
        }
    }
}

@mixin container {
    padding: 3%;
}

@mixin primary-button {
    background-color: $button-color;
    color: white;
    border: 1px solid $button-color; 
    border-radius: 2vw 2vw;
    padding: 2%;
    font-size: 6vw;
    font-weight: 600;
    box-shadow: 0px 2px 2vw rgba(0, 0, 0, 0.313);
}

@mixin pokemon-base-card {

    width: 28%;
    margin: 1vw 0vw 1vw 3vw;
    border-radius: 3vw 3vw;

    & > img {
        width: 70%;
        aspect-ratio: 4/3;
        object-fit: contain;
    }

    & > .pokemon-name-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 2vw 2vw;
        
        & > a {
            font-size: 3.5vw;
            font-weight: 500;
            margin: 1vw;
            color: white;
            text-decoration: none;
        }
    }

    & > .pokedex-number-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 3vw;

        & > img {
            width: 25%;
            aspect-ratio: 4/3;
            object-fit: contain;
            margin: 1vw 0 0 1vw;
        }

        & > p {
            margin: 0;
            margin-top: 1.5vw;
            margin-right: 2.5vw;
            font-weight: 600;
        }
    }
}