$background-color: #CBE6FF;
$background-bars-color: #373B3F;
$button-color: #1E3B74;

$normal-pokemon-color: #A0A2A0;
$fire-pokemon-color: #FF9741;
$water-pokemon-color: #3393DD;
$grass-pokemon-color: #63BB5B;
$electric-pokemon-color: #FBD200;
$ice-pokemon-color: #4BD2C1;
$fighting-pokemon-color: #E12C6A;
$poison-pokemon-color: #B667CF;
$ground-pokemon-color: #E97333;
$flying-pokemon-color: #92AADE;
$psychic-pokemon-color: #FF6676;
$bug-pokemon-color: #90C12C;
$rock-pokemon-color: #C9B787;
$ghost-pokemon-color: #5269AC;
$dark-pokemon-color: #5B5366;
$dragon-pokemon-color: #096DC4;
$steel-pokemon-color: #5A8FA3;
$fairy-pokemon-color: #FB8AEC;